<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notification</title>
</head>
<body>
    <p>Dear Sir,


Procedure for GTU Student Academic Document Verification through e-mail from company/Institution   -  Through E-mail

https://www.gtu.ac.in/ImpCircular/circular_Education%20Verification.pdf -   Procedure for GTU Student Academic document Verification -  Through hard copy

https://www.onlinesbi.sbi/sbicollect/sbclink/displayinstitutiontype.htm - payment link.

Fees to be paid in the category "Other fees grant" for verification as per fees mentioned in the above circular.

kindly follow the above for the same.

Thanks & Regards
GTU, Ahmedabad</p>
</body>
</html>