<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
    <title>Scholership</title>
</head>
<body>
    <h1>Scholership</h1>
    <table border="1">
        <tr>
            <th>અધિકારીશ્રી નું નામ</th>
            <th>શિષ્યવૃત્તિની કેટેગરી</th>
        </tr>
        <tr>
            <td>Prof. M. M. Patel (E. C.)</td>
            <td>{{Prof1}}</td>
            </tr>
            <tr>
            <td>Prof. M. J. Patel (Computer)</td>
            <td>{{Prof2}}</td>
            </tr>
            <tr>
            <td>Prof. C. C. Patel (Mechanical)</td>
            <td>{{Prof3}}</td>
            </tr>
            <tr>
            <td>Prof. D. K. Patel (Mechanical)</td>
            <td>{{Prof4}}</td>
            </tr>
            <tr>
            <td>Prof. M. J. Vasava (Computer)</td>
            <td>{{Prof5}}</td>
            </tr>
    </table>
</body>
</html>