<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body style="background-color: black; color: white;">
    <div style="margin: 1rem; padding: 1 rem;">
        <a href="home.html" style="text-decoration: none; color: white; font-size: 2 rem;">Home</a>
        <a href="movies.html" style="text-decoration: none; color: white; font-size: 2 rem;">Movies</a>
        <a href="news.html" style="text-decoration: none; color: white; font-size: 2 rem;">News</a>
        <a href="shows.html" style="text-decoration: none; color: white; font-size: 2 rem;">Shows</a>
        <a href="contactus.html" style="text-decoration: none; color: white; font-size: 2 rem;">Contact Us</a>
        <a href="aboutus.html" style="text-decoration: none; color: white; font-size: 2 rem;">About US</a>    
    </div>
</body>
</html>